@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

* {
    font-family: "Titillium Web", Arial, sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 63.75rem;
}

@media (max-width: 63.74rem) {
    body {
        width: 100%;
    }
}
